.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    height: 60px;
}

.header > div {
    padding: 0 20px;
    color: white;
    font-size: 25px;
}

.find_btn {
    text-decoration: none;
    color: black;
}

.home {
    text-decoration: none;
    color: gold;
}

.home:hover {
    color: red;
}

.header_right {
    display: flex;
    align-items: center;
}
